<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tyler Atkinson</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a #welcomeButton [routerLink]="['/']" class="navbar-brand myLink" (click)="pageManager.setIndex(4)">Tyler Atkinson</a></div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li #aboutButton class="active"><a class="myLink" [routerLink]="['about']" (click)="pageManager.setIndex(0)">About</a></li>
        <li #contactButton class="inactive"><a [routerLink]="['contact']" class="myLink" (click)="pageManager.setIndex(1)">Contact</a></li>
        <li #projectButton class="inactive"><a [routerLink]="['projects']" class="myLink" (click)="pageManager.setIndex(2); pageManager.projectIndex = -1;">Projects</a></li>
        <li #resumeButton class="inactive"><a href="../../assets/Tyler Atkinson Resume.pdf" class="myLink">Resume</a></li>
      </ul>
    </div>
  </div>
</nav>
<br/>
<br/>
<div class="container">
  <div class="jumbotron mt-5">
    <h1 class="text-center">Tyler Atkinson</h1>
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>

 

<div class="container" style="position: relative; top: 80vh;margin-top: -100px;">
	<footer class="jumbotron">
		<table class="table text-centered">
		<tbody>
		<tr>
			<th><a [routerLink]="['/']" (click)="pageManager.setIndex(4)" class="myLink">Home</a></th>
      <th><a [routerLink]="['about']" (click)="pageManager.setIndex(0)" class="myLink">About</a></th>
      <th><a [routerLink]="['contact']" (click)="pageManager.setIndex(1)" class="myLink">Contact</a></th>
      <th><a [routerLink]="['projects']" (click)="pageManager.setIndex(2)" class="myLink">Projects</a></th>
      <th><a href="../../assets/Tyler Atkinson Resume.pdf" class="myLink">Resume</a></th>
		</tr>	
		</tbody>
	  </table>
  </footer>
</div>
</body>
</html>
