<h2>Sorting Visualizations</h2>
<h3>Background</h3>
<p>Sorting data is a common problem in computing. 
  As such, there are many different algorithms to solve this problem.
</p>
<h4>Quick Sort</h4>
<p>Quick Sort, like the name suggests, is a very efficient way to sort data. 
  It is a recursive algorithm that subdivides the array into smaller arrays before sorting.
  Due to its speed, it is used as the default sorting function in many languages.
  To learn more about Quick Sort click <a href="https://www.tutorialspoint.com/data_structures_algorithms/quick_sort_algorithm.htm">here</a>.
</p>
<div style="text-align: center"><img src="https://raw.githubusercontent.com/tha7556/Sorting-Visualizations/master/Quick%20Sort.gif" style="width:550px;"></div>
<h4>Selection Sort</h4>
<p>Selection Sort is a simple algortihm that specializes in sorting with limited memory.
  It goes through each element in the array, and swaps it with the smallest element that hasn't already been sorted.
  It is very easy to implement, but does not handle large datasets well.
  To learn more about Selection Sort click <a href="https://www.tutorialspoint.com/data_structures_algorithms/selection_sort_algorithm.htm">here</a>.
</p>
<div style="text-align: center"><img src="https://raw.githubusercontent.com/tha7556/Sorting-Visualizations/master/Selection%20Sort.gif" style="width:550px;"></div>
<h4>Heap Sort</h4>
<p>Heap Sort is similar to Selection Sort, except instead of iterating through each entry to find the next smallest element, it uses a heap to locate it.
  To learn more about Heap Sort click <a href="https://www.studytonight.com/data-structures/heap-sort">here</a>.
</p>
<div style="text-align: center"><img src="https://raw.githubusercontent.com/tha7556/Sorting-Visualizations/master/Heap%20sort.gif" style="width:550px;"></div>
<h4>Bubble Sort</h4>
<p>Bubble Sort is renowned as one of the worst sorting algorithms. 
  It continues to pass through the array and checks two values at a time.
  If those two elements are out of order then they are swapped.
  This continues until no element is out of place.
  To learn more about Bubble Sort click <a href="https://www.tutorialspoint.com/data_structures_algorithms/bubble_sort_algorithm.htm">here</a>.
</p>
<div style="text-align: center"><img src="https://raw.githubusercontent.com/tha7556/Sorting-Visualizations/master/Bubble%20sort.gif" style="width:550px;"></div>
<h4>Source</h4>
<p>Here is the source for this project: <a href="https://github.com/tha7556/Sorting-Visualizations">[source]</a>.
</p>