<h2>Portfolio Website</h2>
<h3>Background</h3>
<p>Prior to this, I had very little experience in web development or other front-end technologies.
  I started this in my spare time as a way to experiment with those technologies, and developed it to showcase my past projects.
</p>
<h4>Backend</h4>
<p>In order to run some of my projects, which were already written in Java, I created a REST API to run them through the <a href="https://spring.io/guides/gs/rest-service/">Spring</a> framework.
  I had used a REST API before, but this was my first time developing my own.
  Luckily the Spring framework is very well documented and once it is set up, very easy to use.
  To host the backend I used <a href="https://dashboard.heroku.com/">Heroku</a>'s free plan.
  This means that the server sleeps after 30 minutes of inactivity, which can take some time to wake up.
  To avoid slowdowns while someone is trying to experiment with my projects, I added a REST request when the page is first loaded to begin waking up the server.
</p>
<h4>Frontend</h4>
<p>I used <a href="https://angular.io/guide/quickstart#quickstart">Angular</a> for the frontend, which I also had never worked in before this.
  Both Angular and Spring have excellent documentation, which is why I chose these two frameworks.
  As a beginner to frontend development, this was incredibly helpful.
  I also used a little bit of <a href="https://getbootstrap.com/">Bootstrap</a>, mainly for the navigation bar.
  To host the frontend I used Google <a href="https://firebase.google.com/">Firebase</a>, also using the free plan.
</p>
<h4>Source</h4>
<p>Here is the source for the backend: <a href="https://github.com/tha7556/Tyler-Atkinson-Rest-API">[source]</a>
  <br/>And here is the source for the frontend: <a href="https://github.com/tha7556/Tyler-Atkinson-Rest-API/tree/master/src/frontend/angular-Tyler-Atkinson-Projects">[source]</a>
</p>