<a href="../../assets/Tyler Atkinson Resume.pdf">Click here to view my resume as a PDF</a>
<div style="text-align:center">  
<div style="float:left; min-width: 200px;">
    <h2>Education</h2>
    <br/>
    <a href="https://www.westchestercds.org/"><img src="https://www.westchestercds.org/image/2015-redesign/2015Logo.png" class="img-rounded" alt="Westchester Country Day School"></a>
    <h4 >2010-2014</h4>
    <a href="https://www.uncw.edu/"><img src="https://cdn.worldvectorlogo.com/logos/uncw.svg" class="img-rounded" alt="University of North Carolina Wilmington" width="150" height="150"></a> <br/>
    <h4>Bachelor of Computer Science</h4>
    <h4>2014-2018</h4>
  </div>
  <div style="min-width:200px; display: inline-block">
    <h2>Proficient In</h2>
    <p>Java
    <br/>C#
    <br/>Python
    <br/>SQL</p>
    <h2>Experience In</h2>
    <p>C/C++
    <br/>JavaScript
    <br/>HTML
    <br/>CSS
    <br/>PHP
    <br/>Fortran
    <br/>Prolog
    <br/>Lua
    <br/>SML
    <br/>AngularJS
    <br/>Selenium
    <br/>TestNG</p>
  </div>
  <div style="text-align:left">
    <h2 style="text-align:center">Job History</h2>
    <h3 class="text-left">QualiTest</h3>
    <h4 class="text-left">Quality Assurance Engineer</h4>
    <h4 class="text-left">Greensboro, NC</h4>
    <h4 class="text-left">June 2018 -</h4>
    <p>Worked as a contractor, writing tests for REST and SOAP APIs. Utilized the Orasi Chameleon testing framework in Java.</p>
    <h3 class="text-left">Regal Cinemas</h3>
    <h4 class="text-left">Floor Staff</h4>
    <h4 class="text-left">Wilmington, NC</h4>
    <h4 class="text-left">July 2016 - November 2017</h4>
    <p>Employed in High Point, NC Summer 2016. Transferred to Wilmington location when school was in session. Sold tickets and concessions, cleaned theaters, and tore tickets.</p>
    <h3 class="text-left">Legalis</h3>
    <h4 class="text-left">Document Scanner</h4>
    <h4 class="text-left">Greensboro, NC</h4>
    <h4 class="text-left">May 2015 - August 2015</h4>
    <p>Scanned legal documents for a client in Greensboro, NC. Utilized Adobe Acrobat to manage PDF files.</p>
    <h3 class="text-left">Tiger Rock Martial Arts</h3>
    <h4 class="text-left">Taekwondo Instructor</h4>
    <h4 class="text-left">High Point, NC</h4>
    <h4 class="text-left">March 2011 - August 2014</h4>
    <p>Led training for students ages 3 and up. Performed general cleaning duties in the facility. Organized and led Summer Camps. Volunteered at various tournaments as ring judge.</p>
  </div>
  </div>