<div class="container">
    <h2 class="text-left">Education</h2>
    <br/>
    <a href="https://www.westchestercds.org/"><img src="https://www.westchestercds.org/image/2015-redesign/2015Logo.png" class="img-rounded" alt="Westchester Country Day School"></a>
    <h4 >2010-2014</h4>
    <a href="https://www.uncw.edu/"><img src="https://cdn.worldvectorlogo.com/logos/uncw.svg" class="img-rounded" alt="University of North Carolina Wilmington" width="150" height="150"></a> <br/>
    <h4>Computer Science</h4>
    <h4>2014-2018</h4>
  </div>
  <div class="container">
    <h2 class="text-left">Proficient In</h2>
    <p>Java</p>
    <p>C#</p>
    <p>Python</p>
    <p>SQL</p>
    <h2 class="text-left">Experience In</h2>
    <p>C/C++</p>
    <p>JavaScript</p>
    <p>HTML</p>
    <p>CSS</p>
    <p>PHP</p>
    <p>Fortran</p>
    <p>Prolog</p>
    <p>Lua</p>
    <p>SML</p>
    <p>AngularJS</p>
    <p>Selenium</p>
    <p>TestNG</p>
  </div>
  <div class="container">
    <h2 class="text-left">Job History</h2>
    <h3 class="text-left">QualiTest</h3>
    <h4 class="text-left">Quality Assurance Engineer</h4>
    <h4 class="text-left">Greensboro, NC</h4>
    <h4 class="text-left">June 2018 -</h4>
    <p>Worked as a contractor, writing tests for REST and SOAP APIs. Utilized the Orasi Chameleon testing framework in Java.</p>
    <h3 class="text-left">Regal Cinemas</h3>
    <h4 class="text-left">Floor Staff</h4>
    <h4 class="text-left">Wilmington, NC</h4>
    <h4 class="text-left">July 2016 - November 2017</h4>
    <p>Employed in High Point, NC Summer 2016. Transferred to Wilmington location when school was in session. Sold tickets and concessions, cleaned theaters, and tore tickets.</p>
    <h3 class="text-left">Legalis</h3>
    <h4 class="text-left">Document Scanner</h4>
    <h4 class="text-left">Greensboro, NC</h4>
    <h4 class="text-left">May 2015 - August 2015</h4>
    <p>Scanned legal documents for a client in Greensboro, NC. Utilized Adobe Acrobat to manage PDF files.</p>
    <h3 class="text-left">Tiger Rock Martial Arts</h3>
    <h4>Taekwondo Instructor</h4>
    <h4>High Point, NC</h4>
    <h4>March 2011 - August 2014</h4>
    <p>Led training for students ages 3 and up. Performed general cleaning duties in the facility. Organized and led Summer Camps. Volunteered at various tournaments as ring judge.</p>
  </div>